<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Todo Backbone Version</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.0/backbone.localStorage-min.js"></script>
  <script src="js/todo1.js"></script>
</head>
<body>
  <div id="todoapp">
    <header>
      <h1>Backbone Todo App</h1>
      <input type="text" id="new-todo">
      <button id="button">Add to list</button>
    </header>
    <section id="incomplete">
      <h2>To Do</h2>
      <ul id="incomplete-todo-list"></ul>
    </section>
    <section id="complete">
      <h2>Completed</h2>
      <ul id="todo-list"></ul>
    </section>
    <div id="counter">
    </div>
  </div>
  <script type="text/template" id="list-item-template">
    <span>
      <input type="checkbox" class="checkbox" <%= complete ? ' checked="checked"' : "" %>>
      <%= title %>
    </span>
  </script>
  <script type="text/template" id="counter-template">
    <div class="todo-count">
      <%= completed %> completed.
      <%= incomplete %> not completed.
    </div>
  </script>
</body>
</html>